html, body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: inline;
}

nav {
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
}

nav li {
  display: inline-block;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 80px;
}


